--------------------------------------------------------------------
---------------------------------------- 1.Create DB 
-------------------------------------------------------------------------


IF DB_ID('PalestinePurchaseDB') IS NULL
    CREATE DATABASE PalestinePurchaseDB;
GO
USE PalestinePurchaseDB;
GO
-------------------------------------------------------------------
----------------------------------------- 2.Drop procedures
-----------------------------------------------------------------------

IF OBJECT_ID('dbo.ProcessParcels', 'P') IS NOT NULL
    DROP PROCEDURE dbo.ProcessParcels;
GO
IF OBJECT_ID('dbo.ProcessPurchaseCertificates', 'P') IS NOT NULL
    DROP PROCEDURE dbo.ProcessPurchaseCertificates;
GO

-----------------------------------------------------------------------

----------------3.Drop FK constraints (if exist) then drop tables
-----------------------------------------------------------------------

IF OBJECT_ID('dbo.Parcels', 'U') IS NOT NULL
BEGIN
    IF EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_Parcels_PurchaseCertificates')
        ALTER TABLE dbo.Parcels DROP CONSTRAINT FK_Parcels_PurchaseCertificates;
END
GO

IF OBJECT_ID('dbo.PurchaseCertificates', 'U') IS NOT NULL
BEGIN
    IF EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_PurchaseCertificates_Orders')
        ALTER TABLE dbo.PurchaseCertificates DROP CONSTRAINT FK_PurchaseCertificates_Orders;
END
GO

IF OBJECT_ID('dbo.StagingUpload', 'U') IS NOT NULL DROP TABLE dbo.StagingUpload;
GO
IF OBJECT_ID('dbo.Parcels', 'U') IS NOT NULL DROP TABLE dbo.Parcels;
GO
IF OBJECT_ID('dbo.PurchaseCertificates', 'U') IS NOT NULL DROP TABLE dbo.PurchaseCertificates;
GO
IF OBJECT_ID('dbo.Orders', 'U') IS NOT NULL DROP TABLE dbo.Orders;
GO
-----------------------------------------------------------------------

----------------------------------------=4.Create tables
-----------------------------------------------------------------------

 CREATE TABLE dbo.Orders
(
    OrderId NVARCHAR(50) NOT NULL PRIMARY KEY,
    ShipDate DATE NULL
);
GO

CREATE TABLE dbo.PurchaseCertificates
(
    CertificateId INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
    OrderId NVARCHAR(50) NOT NULL,
    PurchaseCertificateNumber NVARCHAR(50) NOT NULL,
    ShipDate DATE NULL,
    ProvidedOrderTotalPrice DECIMAL(18,2) NOT NULL CONSTRAINT DF_PurchaseCertificates_Provided DEFAULT (0),
    CalculatedOrderTotalPrice DECIMAL(18,2) NOT NULL CONSTRAINT DF_PurchaseCertificates_Calculated DEFAULT (0),
    HasMismatch BIT NOT NULL CONSTRAINT DF_PurchaseCertificates_HasMismatch DEFAULT (0),
    CONSTRAINT UQ_PurchaseCertificates_PCN UNIQUE (PurchaseCertificateNumber)
);
GO

  ALTER TABLE dbo.PurchaseCertificates
ADD CONSTRAINT FK_PurchaseCertificates_Orders
FOREIGN KEY (OrderId) REFERENCES dbo.Orders(OrderId);
GO

CREATE TABLE dbo.Parcels
(
    ParcelId INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
    CertificateId INT NULL,
    ParcelCode NVARCHAR(50) NULL,
    ParcelPrice DECIMAL(18,2) NOT NULL CONSTRAINT DF_Parcels_ParcelPrice DEFAULT (0)
);
GO

ALTER TABLE dbo.Parcels
ADD CONSTRAINT FK_Parcels_PurchaseCertificates
FOREIGN KEY (CertificateId) REFERENCES dbo.PurchaseCertificates(CertificateId);
GO

 CREATE TABLE dbo.StagingUpload
(
    UploadId INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
    OrderId NVARCHAR(50) NULL,
    ParcelCode NVARCHAR(50) NULL,
    PurchaseCertificateNumber NVARCHAR(50) NULL,
    ParcelPrice DECIMAL(18,2) NULL,
    ShipDate DATE NULL
);
GO
-----------------------------------------------------------------------

---------------------- 5.Stored Procedure: ProcessPurchaseCertificates
-----------------------------------------------------------------------

CREATE PROCEDURE dbo.ProcessPurchaseCertificates
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM dbo.StagingUpload
    WHERE OrderId IS NULL
       OR PurchaseCertificateNumber IS NULL;

    UPDATE dbo.StagingUpload
    SET ParcelPrice = 0
    WHERE ParcelPrice IS NULL;

    IF OBJECT_ID('tempdb..#Agg') IS NOT NULL DROP TABLE #Agg;

    SELECT
        OrderId,
        PurchaseCertificateNumber,
        MAX(ShipDate) AS ShipDate,
        SUM(CASE WHEN ParcelCode IS NULL THEN ParcelPrice ELSE 0 END) AS ProvidedTotal,
        SUM(CASE WHEN ParcelCode IS NOT NULL THEN ParcelPrice ELSE 0 END) AS CalculatedTotal
    INTO #Agg
    FROM dbo.StagingUpload
    GROUP BY OrderId, PurchaseCertificateNumber;


    INSERT INTO dbo.Orders (OrderId, ShipDate)
    SELECT a.OrderId, a.ShipDate
    FROM #Agg a
    WHERE NOT EXISTS (SELECT 1 FROM dbo.Orders o WHERE o.OrderId = a.OrderId);


    UPDATE o
    SET o.ShipDate = a.ShipDate
    FROM dbo.Orders o
    JOIN #Agg a ON a.OrderId = o.OrderId
    WHERE o.ShipDate IS NULL OR o.ShipDate <> a.ShipDate;

 



    UPDATE pc
    SET
        pc.OrderId = a.OrderId,
        pc.ShipDate = a.ShipDate,
        pc.ProvidedOrderTotalPrice = a.ProvidedTotal,
        pc.CalculatedOrderTotalPrice = a.CalculatedTotal,
        pc.HasMismatch = CASE WHEN a.ProvidedTotal = a.CalculatedTotal THEN 0 ELSE 1 END
    FROM dbo.PurchaseCertificates pc
    JOIN #Agg a
      ON pc.PurchaseCertificateNumber = a.PurchaseCertificateNumber;

 
 
 INSERT INTO dbo.PurchaseCertificates
    (OrderId, PurchaseCertificateNumber, ShipDate, ProvidedOrderTotalPrice, CalculatedOrderTotalPrice, HasMismatch)
    SELECT
        a.OrderId,
        a.PurchaseCertificateNumber,
        a.ShipDate,
        a.ProvidedTotal,
        a.CalculatedTotal,
        CASE WHEN a.ProvidedTotal = a.CalculatedTotal THEN 0 ELSE 1 END
    FROM #Agg a
    WHERE NOT EXISTS
    (
        SELECT 1
        FROM dbo.PurchaseCertificates pc
        WHERE pc.PurchaseCertificateNumber = a.PurchaseCertificateNumber
    );
END;
GO
-----------------------------------------------------------------------

------------- 6.Stored Procedure: ProcessParcels
-----------------------------------------------------------------------

CREATE PROCEDURE dbo.ProcessParcels
AS
BEGIN
    SET NOCOUNT ON;

 
 UPDATE dbo.StagingUpload
    SET ParcelPrice = 0
    WHERE ParcelPrice IS NULL;

    


    INSERT INTO dbo.Parcels (CertificateId, ParcelCode, ParcelPrice)
    SELECT
        pc.CertificateId,
        s.ParcelCode,
        s.ParcelPrice
    FROM dbo.StagingUpload s
    JOIN dbo.PurchaseCertificates pc
      ON pc.OrderId = s.OrderId
     AND pc.PurchaseCertificateNumber = s.PurchaseCertificateNumber
    WHERE s.ParcelCode IS NOT NULL
      AND NOT EXISTS
      (
          SELECT 1
          FROM dbo.Parcels p
          WHERE p.CertificateId = pc.CertificateId
            AND p.ParcelCode = s.ParcelCode
      );
END;
GO
-----------------------------------------------------------------------

------------------------------------7.Sample Upload Data--> STAGING ONLY
-----------------------------------------------------------------------

INSERT INTO dbo.StagingUpload
(OrderId, ParcelCode, PurchaseCertificateNumber, ParcelPrice, ShipDate)
VALUES
('ONUM100', 'A14', 'CER-111', 700, '2026-02-25'),
('ONUM100', 'A15', 'CER-111', 500, '2026-02-25'),
('ONUM100', NULL,  'CER-111', 150, '2026-02-25');
GO

--------------------------------- 8.RUNNNNN-------------------------
EXEC dbo.ProcessPurchaseCertificates;
EXEC dbo.ProcessParcels;
GO
-----------------------------------------------------------------------

--------------------------------- 9.View results
SELECT * FROM dbo.Orders;
SELECT * FROM dbo.PurchaseCertificates;
SELECT * FROM dbo.Parcels;
GO